<a href="https://colab.research.google.com/github/SeungHoon2/Projects/blob/main/AI_03_%EC%9D%B4%EC%8A%B9%ED%9B%88_section2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 전처리

In [ ]:
# Google Colab을 사용하는 경우 해당 셀을 실행하세요
%%capture
import sys

if 'google.colab' in sys.modules:
    # Install packages in Colab
    !pip install category_encoders==2.*
    !pip install eli5
    !pip install pandas-profiling==2.*
    !pip install pdpbox
    !pip install shap

In [ ]:
import pandas as pd
import numpy as np

# 구글드라이브로 불러오기
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# encoding='cp949' = 한글변환오류 / index_col=n = n번째 columne을 인덱스로 설정

url1 = '/content/서울특별시_부동산_실거래가_정보_2016년.csv'
df2016 = pd.read_csv(url1, encoding='cp949')

url2 = '/content/서울특별시_부동산_실거래가_정보_2017년.csv'
df2017 = pd.read_csv(url2, encoding='cp949')

url3 = '/content/서울특별시_부동산_실거래가_정보_2018년.csv'
df2018 = pd.read_csv(url3, encoding='cp949')

url4 = '/content/서울특별시_부동산_실거래가_정보_2019년.csv'
df2019 = pd.read_csv(url4, encoding='cp949')

url5 = '/content/서울특별시_부동산_실거래가_정보_2020년.csv'
df2020 = pd.read_csv(url5, encoding='cp949')

In [ ]:
df2016.head()

                  실거래가아이디                 지번코드  시군구코드  ...       물건금액    건축년도   건물명
0  11260-2016-4-0006319-1           1126010400  11260  ...  352000000  1975.0   NaN
1  11560-2016-4-0009323-1  1156011300100020006  11560  ...  450000000  1986.0    한양
2  11590-2016-4-0011889-1           1159010400  11590  ...  874000000  1991.0   NaN
3  11560-2016-4-0009321-1  1156011400100910000  11560  ...  500000000  1983.0  유원제일
4  11350-2016-4-0008855-1  1135010200104360000  11350  ...  241000000  1983.0    동신

[5 rows x 19 columns]

In [ ]:
df2016_y = df2016['물건금액']
df2017_y = df2017['물건금액']
df2018_y = df2018['물건금액']
df2019_y = df2019['물건금액']
df2020_y = df2020['물건금액']

In [ ]:
from scipy import stats

t,p = stats.ttest_ind(df2019_y, df2020_y)
p

0.01045156955405993

In [ ]:
t,p = stats.ttest_ind(df2017_y, df2018_y)
p

6.62728522258819e-143

In [ ]:
# 데이터 병합
df = pd.concat([df2016,df2017,df2018,df2019,df2020])

In [ ]:
df.groupby('신고년도')['물건금액'].mean()

신고년도
2016    4.579605e+08
2017    5.089292e+08
2018    5.493487e+08
2019    6.225494e+08
2020    6.283288e+08
Name: 물건금액, dtype: float64

In [ ]:
df.shape

(869209, 20)

In [ ]:
df.head()

                  실거래가아이디                 지번코드  시군구코드  ...    건축년도   건물명 실거래가아이디"
0  11260-2016-4-0006319-1           1126010400  11260  ...  1975.0   NaN      NaN
1  11560-2016-4-0009323-1  1156011300100020006  11560  ...  1986.0    한양      NaN
2  11590-2016-4-0011889-1           1159010400  11590  ...  1991.0   NaN      NaN
3  11560-2016-4-0009321-1  1156011400100910000  11560  ...  1983.0  유원제일      NaN
4  11350-2016-4-0008855-1  1135010200104360000  11350  ...  1983.0    동신      NaN

[5 rows x 20 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 869209 entries, 0 to 176000
Data columns (total 20 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   실거래가아이디   738937 non-null  object
 1   지번코드      869209 non-null  object
 2   시군구코드     869209 non-null  int64
 3   자치구명      869209 non-null  object
 4   법정동코드     869209 non-null  int64
 5   법정동명      869209 non-null  object
 6   신고년도      869209 non-null  int64
 7   업무구분코드    869209 non-null  int64
 8   업무구분      869209 non-null  object
 9   물건번호      869209 non-null  int64
 10  대지권면적     476229 non-null  float64
 11  건물면적      869209 non-null  float64
 12  관리구분코드    869208 non-null  object
 13  층정보       797450 non-null  float64
 14  건물주용도코드   869209 non-null  int64
 15  건물주용도     869209 non-null  object
 16  물건금액      869209 non-null  int64
 17  건축년도      867764 non-null  float64
 18  건물명       797450 non-null  object
 19  실거래가아이디"  130272 non-null  object
dtypes: float64(4), int64(7), object(9)
memory usage: 139.3+ MB

In [ ]:
# 데이터의 종류확인
df['물건번호'].value_counts(dropna = False)

1      836129
2        3058
3        2757
4        2644
5        2528
        ...
303         1
304         1
305         1
306         1
0           1
Name: 물건번호, Length: 476, dtype: int64

In [ ]:
# 데이터의 종류확인
df['관리구분코드'].value_counts(dropna = False)

0      644904
0.0    199689
1        6829
1.0      6748
2        5526
2.0      3135
B        1306
A        1071
NaN         1
Name: 관리구분코드, dtype: int64

In [ ]:
# 결측치 확인
df.isnull().sum()

실거래가아이디     130272
지번코드             0
시군구코드            0
자치구명             0
법정동코드            0
법정동명             0
신고년도             0
업무구분코드           0
업무구분             0
물건번호             0
대지권면적       392980
건물면적             0
관리구분코드           1
층정보          71759
건물주용도코드          0
건물주용도            0
물건금액             0
건축년도          1445
건물명          71759
실거래가아이디"    738937
dtype: int64

In [ ]:
# columns 삭제
df = df.drop(columns=['실거래가아이디', '지번코드', '시군구코드', '법정동코드', '법정동명', '업무구분코드', '업무구분', '대지권면적','물건번호', '관리구분코드', '건물주용도코드', '건축년도', '건물명', '실거래가아이디"'])
df

        자치구명  신고년도    건물면적   층정보 건물주용도        물건금액
0        중랑구  2016   85.78   NaN  단독주택   352000000
1       영등포구  2016   84.93  11.0   아파트   450000000
2        동작구  2016  240.00   NaN  단독주택   874000000
3       영등포구  2016   73.98  10.0   아파트   500000000
4        노원구  2016   71.83   3.0   아파트   241000000
...      ...   ...     ...   ...   ...         ...
175996   마포구  2020  294.03   NaN  단독주택  1450000000
175997   마포구  2020  147.34   NaN  단독주택  2430000000
175998   마포구  2020   46.77   3.0  연립주택   405000000
175999   마포구  2020   46.41   NaN  단독주택   899900000
176000   마포구  2020   25.69   NaN  단독주택  1358000000

[869209 rows x 6 columns]

In [ ]:
# 결측치 확인
df.isnull().sum()

자치구명         0
신고년도         0
건물면적         0
층정보      71759
건물주용도        0
물건금액         0
dtype: int64

In [ ]:
df[(df.isnull()['층정보'])]['건물주용도'].value_counts(normalize=True)

단독주택    1.0
Name: 건물주용도, dtype: float64

In [ ]:
df[(df.건물주용도 == '단독주택')].물건금액.mean()

919411529.4248805

In [ ]:
df.물건금액.describe()

count    8.692090e+05
mean     5.455466e+08
std      5.137485e+08
min      3.500000e+06
25%      2.400000e+08
50%      4.050000e+08
75%      6.750000e+08
max      2.914000e+10
Name: 물건금액, dtype: float64

In [ ]:
np.percentile(df.물건금액, 86.5)

913000000.0

In [ ]:
df.층정보.describe()

count    797450.000000
mean          7.076708
std           6.015597
min          -3.000000
25%           3.000000
50%           5.000000
75%          10.000000
max          73.000000
Name: 층정보, dtype: float64

In [ ]:
df.층정보.fillna(14 , inplace = True)

In [ ]:
df = df.dropna()

In [ ]:
np.percentile(df.층정보, 86.5)

14.0

# 데이터 분할

In [ ]:
train = df

In [ ]:
train.corr()

          신고년도      건물면적       층정보      물건금액
신고년도  1.000000 -0.039959 -0.031842  0.127290
건물면적 -0.039959  1.000000  0.289476  0.626202
층정보  -0.031842  0.289476  1.000000  0.318199
물건금액  0.127290  0.626202  0.318199  1.000000

In [ ]:
train.shape

(869209, 6)

In [ ]:
#train.T.duplicated()

In [ ]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(train, train_size = 0.70, test_size = 0.30, 
                               random_state=1)

In [ ]:
train, val = train_test_split(train, train_size = 0.70, test_size = 0.30, 
                               random_state=1)

In [ ]:
train.shape, val.shape, test.shape

((425912, 6), (182534, 6), (260763, 6))

In [ ]:
train.shape, val.shape, test.shape

((425912, 6), (182534, 6), (260763, 6))

In [ ]:
target = '물건금액'

features = train.drop(columns=[target]).columns

X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]
y_test = test[target]

# pipeline

In [ ]:
from category_encoders import OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import  r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# 선형회귀(Linear Regression).StandardScaler()
pipe = make_pipeline(
    OneHotEncoder(use_cat_names=True), 
    StandardScaler(),
    PolynomialFeatures(degree=1),
    LinearRegression()
)
pipe.fit(X_train, y_train)

print('훈련 정확도: ', pipe.score(X_train, y_train))
print('검증 정확도: ', pipe.score(X_val, y_val))

y_pred = pipe.predict(X_test)
print('r2_score: ',r2_score(y_test, y_pred))

훈련 정확도:  0.6382410470397828
검증 정확도:  0.6385370811133019
r2_score:  0.6438966784213538

In [ ]:
#다항회귀(Linear Regression).StandardScaler()
pipe = make_pipeline(
    OneHotEncoder(use_cat_names=True), 
    StandardScaler(),
    PolynomialFeatures(degree=2),
    LinearRegression()
)
pipe.fit(X_train, y_train)

print('훈련 정확도: ', pipe.score(X_train, y_train))
print('검증 정확도: ', pipe.score(X_val, y_val))

y_pred = pipe.predict(X_test)
print('r2_score: ',r2_score(y_test, y_pred))

훈련 정확도:  0.7396391696941449
검증 정확도:  0.7435564382405546
r2_score:  0.7365667168363226